NODE_ENV=development

# Server
SERVER_PORT=3000

# Database
DATABASE_USERNAME=kib
DATABASE_PASSWORD=kib
DATABASE_HOST=kib-postgres
DATABASE_NAME=kib
DATABASE_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# TMDB 
TMDB_API_URL=https://api.themoviedb.org/3
TMDB_API_KEY=PUT_HERE_YOUR_API_KEY
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p