NODE_ENV=testing

# Server
SERVER_PORT=3033

# Database
DATABASE_USERNAME=test-kib
DATABASE_PASSWORD=test-kib
DATABASE_HOST=localhost
DATABASE_NAME=test-kib
DATABASE_PORT=5433

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380

# TMDB 
TMDB_API_URL=https://api.themoviedb.org/3
TMDB_API_KEY=PUT_HERE_YOUR_API_KEY
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p